<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" contents="width=device-width, initial-scale=1.0" />
    <title>Raspberry PI Home Security</title>
    <link rel="stylesheet" href="tabs.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="header"></section>

    <nav>
      <div class="nav-links">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/live">Live Feed</a></li>
          <li><a href="/past-feed">Past Feed</a></li>
          <li><a href="/settings">Settings</a></li>
          <li>
            <form action="/logout?_method=DELETE" method="POST">
              <button type="submit" class="hero-btn">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>

    <h1 class="text-box">Settings</h1>
    <div class="flex-container">
      <div class="flex-child">
        <p>First name: <%= user.first_name %></p>
        <p>Last name: <%= user.last_name %></p>
      </div>
      <div class="flex-child">
        <p>Email address: <%= user.email %></p>
        <p>Username: <%= user.username %></p>
        <p>Password: <%= user.password %></p>
      </div>
    </div>
    
  </body>
</html>

<script>
  function myIndex() {
    window.location.href = "index.html";
  }
</script>
